:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  /* min-width: 320px; */
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  /* background-color: #fcfafa; */
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    color: #1c1c1c;
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #1c1c1c;
  }
}


.ContenHomeHeader{
  top: 0;
  position: sticky;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #ffffff;
  border-radius: 0 0 20px 20px;
  width:90%;
  padding-left: 10%;
  z-index: 400;
}
.center{
  /* text-align: center;
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap; */
  margin: 0 auto;
}
.Sin_Usuario{
  background-color: rgb(33 33 71);
}
.SOCMEXCIRPED{
  background-color: rgb(255, 175, 28);
  /* color: purple; */
}
.AMMR{
  background-color: rgb(223, 208, 1);
}
.AMMTAC{
  background-color: rgb(186, 2, 2);
}
.COMEXANE{
  background-color: #373fcd;
}
.AMEH{
  background-color: #373fcd;
  /* color: rgb(212, 34, 34); */
}
.AMCE{
  background-color: #71bc01;
}

.NUM{
  max-width:10px !important;
  /* background-color: #213547; */

}

